*{
	box-size:border-box;
	margin:0px;
	padding:0px;
}
#cont1{
border:1px ridge black;

height:600px;
margin:0px;
padding:0px;
}

#cont2{
border:1px ridge black;
height:600px;
margin:0px;
padding:0px;
position:relative;
}

.cont2img{
width:100%;
position:absolute;
bottom:0;
z-index:-1;
}

.cont2back{

width:100%;
position:absolute;
z-index:-1

}

#foo{
height:400px;
background-color:#1a1a1a;
border:1px ridge black;
}

.w3-container{
width:100%;
background-color:white;
margin-top:10px;
}


.links{
color:blue;
}

#l1{
margin-left:20px;
margin-top:20px;
font-size:4em;
}

.lin{
font-family:monoscript;
font-weight:bold;
}

.addr{
position:static;
font-family:serif;
font-size:2em;
margin-left:20px;
}

.addr1{
position:static;
float:right;
font-family:serif;
font-size:2em;
margin-right:200px;
}

.ac1{
position:absolute;
border:1px ridge transparent;
width:50%;
height:300px;
z-index:0;
}

.ac2{
position:absolute;
border:1px ridge transparent;
width:50%;
z-index:0;
height:300px;
right:0;
}

.address1{
margin-top:30px;
font-size:1.2em;
font-weight:400;
margin-left:30px;
}
#adlogo{
font-size:2em;
margin-left:40px;
margin-top:30px;
}
#clogo1{
font-size:2em;
margin-top:30px;
}
#clogo2{
font-size:2em;
margin-top:30px;
}
#clogo3{
font-size:2em;
margin-top:30px;
}
.infoc{
position:absolute;
right:0;
top:0;
font-size:1.2em;
margin-top:30px;
border:1px ridge transparent;
}
.infocp1{
width:0px;
height:0px;
font-size:0em;
}
.infocp2{
width:0px;
height:0px;
font-size:0em;
}

@media (max-width:962px)
{
#l1{
margin-left:20px;
margin-top:40px;
font-size:2em;
}
.lin{
font-family:monoscript;
font-weight:bold;
font-size:0.8em;
}
.addr{
position:absolute;
font-family:serif;
font-size:2em;
margin-left:20px;
}

.addr1{
position:absolute;
font-family:serif;
font-size:2em;
margin-left:20px;
margin-top:240px;
}

.ac1{

width:100%;
height:150px;
margin-top:40px;
}

.ac2{

width:100%;
height:150px;
bottom:0;
left:0;
margin-bottom:160px;
}
#clogo1{
position:static;

}
#clogo2{
position:static;
margin-top:3px;

}
#clogo3{
position:absolute;
margin-left:200px;


}


.infoc{
font-size:0em;
}

.infocp1{
margin-left:5px;
font-size:1.1em;
}
.infocp2{
position:absolute;
font-size:1.1em;
margin-top:-80px;
margin-left:250px;
}

}